<form class="mt-4" method="POST" action="/news">
  <div class="mb-3">
    <label for="search-input" class="form-label">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa">
  </div>

  <div class="mb-3">
    <label for="age" class="form-label">Tuổi</label>
    <input type="text" name="age" class="form-control" id="age" placeholder="Nhập tuổi">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
